*.exe            binary
*.gif            binary
*.png            binary

resources/*.txt  text    eol=crlf
/*.txt           text    eol=lf

*.cmd            text    eol=crlf
*.js             text    eol=crlf
README.md                eol=crlf
